/* Select the 'body' tag from the HTML */
body {
  /* Apply the following rules */
  font-family: "Fira Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
