/* Root is the top level selector in CSS. */
:root {
  /* CSS Custom Properties AKA CSS Variables */
  --vertical-rhythm: 1.75rem;
}

body,
a {
  color: #f5f5f5;
}

/* Select the 'body' tag from the HTML */
body {
  background: #fffafa;

  /* Apply the following rules */
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Establish the base font size for ems */
  font-size: 10px;
}

h1 {
  font-size: 1.728em;
  font-weight: 600;

  /* 1st number is top/bottom 2nd number is left/right */
  margin: 0.75rem 0;
}

h2 {
  color: #ffd700;
  font-size: 1.44em;
  font-weight: 500;
  margin-top: 0;
}

a,
figcaption,
li,
li div:first-child::before,
p {
  font-size: 1.2em;
}

li div:first-child::before {
  content: "✅";
  margin-right: 0.75em;
}

img {
  max-width: 100%;
}

a img {
  margin-right: 1rem;
  width: 2rem;
}

ul {
  padding-left: 0;
}

svg {
  margin-right: 0.25rem;

  /* rem is Root ems - 1rem = 16px
    rems are based upon the root pixel font size
    The default is 16px
    rem is a relative size
  */
  width: 1rem;
}

span {
  /* PP: I use 'px' for placing things 4px or less - no need for 'relative units' */
  bottom: 4px;
  position: relative;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 0.25rem;
  text-align: center;
}

footer {
  padding: var(--vertical-rhythm) 0;
}

/* Classes - reusable block of styles */
.card {
  background: #6495ed;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

/* Create a flexbox out of any parent div */
.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-center {
  justify-content: center;
}

.hr {
  border-top: solid thin #a9a9a9;
  width: 40%;
}

.inline-list {
  display: inline-block;

  /* Top-right-bottom-left */
  margin: 0 0.5rem 0.25rem 0;
}

.right-spacing {
  margin-right: var(--margin-right-spacing);
}

.rounded {
  /* Rounded corners */
  border-radius: 0.75rem;
}

.text-center {
  text-align: center;
}

.vertical-rhythm {
  margin-bottom: var(--vertical-rhythm);
}

@media screen and (min-width: 768px) {
  body {
    background: linear-gradient(to top, #06f 0%, #fff 62%);
    margin: 0 auto;
    max-width: 1200px;
  }

  #site-wrapper {
    display: grid;
    gap: 1rem;

    /* 'fr' is fractional units - only works with grid. */
    grid-template-columns: 40fr 60fr;
  }
}
